@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
}

body {
  position: relative;
  background-color: #f7f7f9;
}

.heading-large {
  color: #172b4d;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 52px;
}

.paragraph {
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

header {
  background-color: #fff;
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 7%;
}

.logo {
  animation-name: logo-animation;
  animation-duration: 0.5s;
}

.logo > a {
  text-decoration: none;
  color: inherit;
}

.mobile-menu-close-icon {
  color: #fff;
  align-self: flex-end;
  padding: 0;
}

.mobile-menu--hide {
  display: none;
  width: 0;
  height: 0;
}

.mobile-menu--show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em 0.75em;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: rgba(96, 112, 255, 0.9);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
  backdrop-filter: blur(4px);
}

.mobile-menu--show > ul > li {
  padding: 0.5em 0;
}

.nav-menu-button {
  display: inline;
  cursor: pointer;
}

.nav-links {
  display: none;
  color: #344563;
  font-weight: 600;
}

.nav-link {
  cursor: pointer;
  padding: 0.625em 0.75em;
}

.nav-link:nth-child(even) {
  margin: 0 0.5em;
}

.headline-main {
  max-height: 800px;
  min-height: 550px;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
  border-radius: 0 0 0 4em;
  background-color: #fff;
  background-image: url(./images/contact\ form\ background\ shapes.svg);
  background-size: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
}

.headline {
  margin: 10px 0;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.headline-heading {
  margin: 10px 0;
}

.headline-paragraph {
  margin: 10px 0;
}

.headline-sm-suport {
  margin: 10px 0;
  color: #7f8cff;
  font-weight: 500;
}

.social-icons {
  justify-content: space-between;
  align-items: center;
  color: #505f79;
  list-style: none;
}

.social-icons > a,
i {
  text-decoration: none;
  color: #505f79;
  font-size: 1.25rem;
  padding-right: 1em;
}